* {
    box-sizing: border-box;
}

.flex {
    display: flex;
}

body, .header, .header-text, .information {
    flex-direction: column;
}

.subtext, body, .cards {
    justify-content: center;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    flex-direction: column;
    margin: 0;
    border: 0;
}

.bottom-half {
    justify-content: space-around;
}

body, .bottom-half {
    align-items: center;
}


.header {
    background-color: #1f2937;
    color: white;
    justify-content: space-around;
    flex: 1;
    width: 1000px;
    flex: 1;
}

img {
    height: 200px;
    width: 300px;
    min-width: 0px;
}

.top-half {
    padding: 48px;
    justify-content: flex-start;
}

a:hover {
    color:#1f2937;
    background-color: white;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
    background-color: white;
    color: #3882f6;
}

.bottom-half {
    padding: 48px;
    gap: 20px;

}

.header-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    min-width: 350px;
}

.header-sub {
    font-size: 18px;
    color: #e5e7eb;

}

.header-button {
    background-color: #3882f6;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 25px;
}

.header-text {
    height: 200px;
    width: 300px;
}

ul {
    list-style: none;
    gap: 16px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    font-size: 18px;
    color: #e5e7eb
}

.headlogo {
    font-weight: 900;
    font-size: 24px;
}


.information {
    background-color: white;
    color: black;
    text-align: center;
    flex: 1;
    padding: 20px;
    width: 1000px;
    flex: 1;
}

.info-head {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.cards {
    gap: 50px;
    align-content: center;
    padding: 20px;
    min-width: 0px;
    max-width: 100%
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: 20px;
    min-width: 0px;
}

.card > img {
    border-radius: 25px;
    border: 2px solid #3882f6;
    height: 120px; 
    width: 120px;
}

.subtext {
    flex-wrap: wrap;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1000px;
    padding: 48px 60px;
    flex: 1;
}

.quote-contain {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
}

.credit {
    font-size: 24px;
    font-weight: 900px;
    margin-left: auto;
}

.call-to-action {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    background-color: white;
    width: 1000px;
    padding: 100px;
    flex: 1;
}

.cta-container {
    background-color: #3882f6;
    color: white;
    display: flex;
    height: 100px;
    width: 800px;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding: 10px 50px;
}

.cta-head {
    font-size: 24px;
    font-weight: 900px;

}

.cta-sub {
    font-size: 16px;
}

.cta-button {
    border: 2px solid white;
    height: 25px;
    background-color: #3882f6;
    border-radius: 25px;
    color: white;
    width: 150px;
    padding: 0;

}

.footer {
    background-color: #1f2937;
    color: white;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80px;
}