body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

.header {
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
    flex: 1;

}

img {
    height: 200px;
    width: 400px;
}

.top-half {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
}

.bottom-half {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 48px;

}

.header-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.header-sub {
    font-size: 18px;
    color: #e5e7eb;
}

.header-text {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 300px;
}
ul {
 list-style: none;
 display: flex;
 gap: 16px;
 margin: 0;
 padding: 0;
}

.headlogo {
    font-weight: 900;
    font-size: 24px;
}


.information {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    padding: 20px;
}

.info-head {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.cards {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-content: center;
    padding: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    width: 150px;
    height: 200px;
    gap: 20px;
}

.card > img {
    max-width: 150px;
    max-height: 200px;
    border-radius: 25px;
    border: 1px solid #3882f6;
}

.subtext {
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}